input[type=text], textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
  outline: none;
  padding: .5rem;
  line-height: 1.618;
  resize: vertical;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: .5em;
}
